<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
        </div>
            <h1> Add Book </h1>
            <div>    

            <h3 th:if="${bookAdded}">Book has been added</h3>
            <form th:object="${book}" action="" th:action="@{/booktique/processaddbook.html}" method="post" class="form-horizontal">
                <fieldset>
                    
                    <table class="table table-striped">
                        Class Code: &ensp;&ensp;&ensp;&ensp;
                        <select name="classCode">
                            <option th:each="course : ${courses}" th:value="${course.classCode}" th:text="${course.classCode}" ></option>
                        </select>
                        <tr>               
                            <td>
                                ISBN: &ensp;&ensp;&ensp;&ensp; <input type="text" name="ISBN" th:value="${book.ISBN}"/>
                                <ul th:if="${#fields.hasErrors('ISBN')}">
                                    <li class="error" th:each="err : ${#fields.errors('ISBN')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                        </tr>
                        <tr>               
                            <td>
                                Title: &ensp;&ensp;&ensp;&ensp;&ensp; <input type="text" name="bookName" />
                                <ul th:if="${#fields.hasErrors('bookName')}">
                                    <li class="error" th:each="err : ${#fields.errors('bookName')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                            <td>
                                Publisher: &ensp;&ensp;&ensp; <input type="text" name="publisher"/>
                                <ul th:if="${#fields.hasErrors('publisher')}">
                                    <li class="error" th:each="err : ${#fields.errors('publisher')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>               
                            <td>
                                Author: &ensp;&ensp;&ensp; <input type="text" name="author" />
                                <ul th:if="${#fields.hasErrors('author')}">
                                    <li class="error" th:each="err : ${#fields.errors('author')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                            <td>
                                Quantity: &ensp;&ensp;&ensp;&ensp; <input type="text" name="inventory"/>
                                <ul th:if="${#fields.hasErrors('inventory')}">
                                    <li class="error" th:each="err : ${#fields.errors('inventory')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>               
                            <td>
                                Edition: &ensp;&ensp;&ensp; <input type="text" name="edition"/>
                                <ul th:if="${#fields.hasErrors('edition')}">
                                    <li class="error" th:each="err : ${#fields.errors('edition')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                            <td>
                                Price: &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <input type="text" name="price"/>
                                <ul th:if="${#fields.hasErrors('price')}">
                                    <li class="error" th:each="err : ${#fields.errors('price')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Add</button>
                        
                    </div>

                </fieldset>
            </form>
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
