<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
        </div>
            <div>
            <h3 th:if="${courseAdded}">Course has been added</h3>      
            <form th:object="${course}" action="" th:action="@{/booktique/processaddcourse.html}" method="post" class="form-horizontal">
                <fieldset>
                    <h1 th:text="${programName}"> </h1>
                    <h2>  Add Course </h2>
                    
                    <table class="table table-striped">
                        Program Code &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                        <select name="programCode">
                            <option th:value="${programCode}" th:text="${programCode}" ></option>
                        </select>
                        <tr>               
                            <td>
                                Course Code:  &ensp;&ensp;&ensp;&ensp; <input type="text" name="classCode"/>
                                <ul th:if="${#fields.hasErrors('classCode')}">
                                    <li class="error" th:each="err : ${#fields.errors('classCode')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                        </tr>
                        <tr>               
                            <td>
                                Course Title: &ensp;&ensp;&ensp;&ensp;&ensp; <input type="text" name="className" />
                                <ul th:if="${#fields.hasErrors('className')}">
                                    <li class="error" th:each="err : ${#fields.errors('className')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Year:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <input type="text" name="year"/>
                                <ul th:if="${#fields.hasErrors('year')}">
                                    <li class="error" th:each="err : ${#fields.errors('year')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Add Course</button>
                        
                    </div>

                </fieldset>
            </form>
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
