<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
        </div>
             <h1> Add Program </h1>
            <div>   
            <h3 th:if="${programAdded}">Program has been added</h3>   
            <form th:object="${program}" action="" th:action="@{/booktique/processAddProgram.html}" method="post" class="form-horizontal">
                <fieldset>
                    
                    <table class="table table-striped">
                        <tr>               
                            <td>
                                Program Name: &ensp;&ensp;&ensp;&ensp;<input type="text" name="programName"/>
                                <ul th:if="${#fields.hasErrors('programName')}">
                                    <li class="error" th:each="err : ${#fields.errors('programName')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                        </tr>
                        <tr>               
                            <td>
                                Program Code: &ensp;&ensp;&ensp;&ensp;<input type="text" name="programCode" />
                                <ul th:if="${#fields.hasErrors('programCode')}">
                                    <li class="error" th:each="err : ${#fields.errors('programCode')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Add Program</button>                      
                    </div>
                </fieldset>
            </form>
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
