<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container">            



            <h2>Books</h2>

            <table id="theUsages" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>Course Code</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.bookName}"></td>
                        <td th:text="${book.ISBN}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.classCode}"></td>
                        <td th:text="${book.inventory}"></td>
                        <td th:text="${book.price}"></td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/BookEdit(ISBN=${book.ISBN})}" th:text="Edit" ></a></td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/DeleteBook(ISBN=${book.ISBN})}" th:text="Delete" ></a></td>
                        <td th:if="${!staffLogin}">N/A</td>
                        <td th:if="${!staffLogin}">N/A</td>
                    </tr>
                </tbody>                        
            </table>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // For demo to fit into DataTables site builder...
            $(document).ready(function () {
                $('#theUsages').dataTable();
                $('#theUsages')
                        .removeClass('display')
                        .addClass('table table-striped table-bordered');
            });

        </script>
    </body>
</html>
