<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
        </div>
            <div>    
            <h3 th:if="${courseEdited}">Course has been edited</h3>
            <form th:object="${course}" action="" th:action="@{/booktique/processcourseedit.html}" method="post" class="form-horizontal">
                <fieldset>
                    
                    <table class="table table-striped">
                        <tr>  
                            <td>
                                Class Code:  &ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" name="classCode" th:value="${course.classCode}"/>
                                <ul th:if="${#fields.hasErrors('classCode')}">
                                    <li class="error" th:each="err : ${#fields.errors('classCode')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                            <td>
                                Class Name:  &ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" name="className" th:value="${course.className}"/>
                                <ul th:if="${#fields.hasErrors('className')}">
                                    <li class="error" th:each="err : ${#fields.errors('className')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                        </tr>
                        <tr>               
                            <td>
                                Year:  &ensp;&ensp;&ensp;<input type="text" name="year" th:value="${course.year}"/>
                                <ul th:if="${#fields.hasErrors('year')}">
                                    <li class="error" th:each="err : ${#fields.errors('year')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td> 
                            <td>
                                Program Code:  &ensp;&ensp;<input type="text" name="programCode" th:value="${course.programCode}"/>
                                <ul th:if="${#fields.hasErrors('programCode')}">
                                    <li class="error" th:each="err : ${#fields.errors('programCode')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Edit</button>
                        
                    </div>

                </fieldset>
            </form>
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>