<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h1><span th:text="${programName}"/> </h1>
            <h2>Course List</h2>

            <a class="btn btn-primary btn-lg" th:href="@{/booktique/addCourse(programName=${programName})}" th:text="Add" ></a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 200px;">Course Code</th>
                        <th style="width: 80px;">Course Title</th>
                        <th style="width: 80px;">Year</th>
                        <th style="width: 80px;">Books</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courses}">
                        <td th:text="${course.classCode}"></td>
                        <td th:text="${course.className}"></td>
                        <td th:text="${course.year}"></td>
                        <td>
                            <ul th:each="book : ${(course.books)}">
                                <li th:text="${book.bookName}"></li>
                            </ul>
                        </td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/courseEdit(classCode=${course.classCode})}" th:text="Edit" ></a></td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/DeleteCourse(classCode=${course.classCode})}" th:text="Delete" ></a></td>
                        <td th:if="${!staffLogin}">N/A</td>
                        <td th:if="${!staffLogin}">N/A</td>
                    </tr>
                </tbody>
            </table>    
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>

</html>
