<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div><!-- end. containter_navbar -->
        
        <div class="container" >            
            <h1>Generate Reports</h1>
            <div>     
            <form th:object="${book}" action="" th:action="@{/booktique/showReport.html}" method="get" class="form-horizontal">
                <fieldset>
                    
                    <table class="table table-striped">
                        <tr>               
                            <td>In stock   <input type="radio" name="report" th:value="inStock"/></td>
                            <td>Out of stock   <input type="radio" name="report" th:value="outOfStock"/></td>  
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Stock Report</button>
                      
                    </div>
                </fieldset>
            </form><!--end of form -->   
            
            <form th:object="${book}" action="" th:action="@{/booktique/showReportbyProgram.html}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            List by Program
                            <select name="programName">
                                <option th:each="program : ${programs}" th:text="${program.programName}"  th:value="${program.programCode}" ></option>
                            </select>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Program Report</button>
                       
                    </div>
                </fieldset>
            </form>
            
            <form th:object="${book}" action="" th:action="@{/booktique/showReportbyCourse.html}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            List by Course
                            <select name="classCode">
                                <option th:each="course : ${courses}"  th:value="${course.classCode}" th:text="${course.classCode}" ></option>
                            </select>
                        </tr>                       
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" name="edit">Course Report</button>
                    </div>
                </fieldset>
            </form>
            
            
            </div><!-- end. table div -->
  
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div><!-- end. footer div -->
            </div>
        </div><!-- end. container-->
    </body>
</html>