<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
      <div class="container" >            

            <h2>Programs</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 200px;">Program Name</th>
                        <th style="width: 80px;">Program Code</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="program : ${programs}">
                        <td><a th:href="@{/booktique/courses(programCode=${program.programCode})}" th:text="${program.programName}" ></a></td>
                        <td th:text="${program.programCode}"></td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/programEdit(programCode=${program.programCode})}" th:text="Edit" ></a></td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/DeleteProgram(programCode=${program.programCode})}" th:text="Delete" ></a></td>
                        <td th:if="${!staffLogin}">N/A</td>
                        <td th:if="${!staffLogin}">N/A</td>
                    </tr>
                </tbody>
            </table>    
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>