<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div><!-- end. containter_navbar -->       
        <div class="container" >            
            <h2><span th:text="${reportTitle}"/> Report</h2>
             <h4>Total number of books found: <span th:text="${bookTotalFound}"/></h4>   
          
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 200px;">Book Name</th>
                        <th style="width: 80px;">ISBN</th>
                        <th style="width: 80px;">Author</th>
                        <th style="width: 80px;">Course Code</th>
                        <th style="width: 80px;">Quantity</th>
                        <th style="width: 80px;">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">

                        <td th:text="${book.bookName}"></td>
                        <td th:text="${book.ISBN}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.classCode}"></td>
                        <td th:text="${book.inventory}"></td>
                        <td th:text="${book.price}"></td>
                        <td th:if="${staffLogin}" ><a th:href="@{/booktique/BookEdit(ISBN=${book.ISBN})}" th:text="Edit" ></a></td>
                    </tr>
                </tbody>
            </table>   
             <!-- For testing -->
            <!--<h4>Test: <span th:text="${classCode}"/></h4>-->  
            <!--<h4> Test Program Code: <span th:text="${programCode}"/></h4>-->
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div><!-- end. footer div -->
            </div>
        </div><!-- end. container-->
    </body>
</html>