<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;Booktique</small></h1>
            </div>

            <div class="navbar-inner" >
<!--                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Booktique</a></li>                            
                            <li><a href="../codes/codeTypes.html" th:href="@{/codes/codeTypes.html}"><i class="icon-th-list"></i>Books</a></li>    
                            <li><a href="../booktique/program.html" th:href="@{/booktique/program.html}"><i class="icon-th-list"></i>Programs</a></li> 
                        </ul>
                    </li>


                </ul>-->
                <!--Books drop down menu -->
                <ul class="nav navbar navbar-left">
                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Books
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../codes/codeTypes.html" th:href="@{/booktique/books.html}"><i class="icon-th-list"></i>View Books</a></li> 
                            <li><a href="../codes/codeTypes.html" th:href="@{/booktique/AddBook.html}"><i class="icon-th-list"></i>Add Book</a></li>
                            <li><a href="../codes/codeTypes.html" th:href="@{/booktique/filewrite.html}"><i class="icon-th-list"></i>Write to File</a></li>
                       </ul>
                    </li>

                    <!--Program drop down menu -->
                    <li class="dropdown" id="menuResources2">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources2">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Programs
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../codes/codeTypes.html" th:href="@{/booktique/program.html}"><i class="icon-th-list"></i>View Programs</a></li> 
                            <li><a href="../codes/codeTypes.html" th:href="@{/booktique/addProgram.html}"><i class="icon-th-list"></i>Add Program</a></li>            
                       </ul>
                    </li> 
                    
                    <!--Link to report generator page -->
                    <li><a href="../booktique/generateReport.html" th:href="@{/booktique/generateReport.html}"><i class="icon-th-list"></i>Reports</a></li> 
                    <!-- Link to search page -->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" th:href="@{/}"><i class="icon-log-out"></i>Logout</a></li> 
                    <li class="divider"></li>
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>