<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Books</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 200px;">Book Name</th>
                        <th style="width: 80px;">ISBN</th>
                        <th style="width: 80px;">Author</th>
                        <th style="width: 80px;">Course Code</th>
                        <th style="width: 80px;">Quantity</th>
                        <th style="width: 80px;">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">

                        <td th:text="${book.bookName}"></td>
                        <td th:text="${book.ISBN}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.classCode}"></td>
                        <td th:text="${book.inventory}"></td>
                        <td th:text="${book.price}"></td>
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
